.header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 293px;
    padding: 92px 24px 96px 24px;
}

.header__menu {
    display: flex;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
    text-decoration: none;
}

.header__menu-item {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__menu-item::after {
    content: '';
    display: inline-block;
    align-items: center;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 11px 0 13px;
}

.header__menu-item:last-child::after {
    display: none;
}

.header__menu-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

.header__menu-link:hover,
.header__menu-link:focus {
    text-decoration: underline;
}
.header__logo {
    display: flex;
    justify-content: center;
    width: 148px;
    height: 100%;
}

.header__logo-img {
    display: flex;
    height: auto;

}

.address {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__address {
    max-width: 240px;
    display: flex;
    flex-direction: column;
}

.header__address span {
    font-size: 18px;
    line-height: 24px;
}

.underline_text{
    text-decoration: underline;
}

/*--------------------------------------------------*/

.cover {
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
    background-image: url("/images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.cover__title {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    flex-direction: column;
    padding: 165px 50px 135px 50px;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 30px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.aligned-text {
    text-align: left;
    letter-spacing: 60px;
}

.aligned-text_center {
    text-align: center;
    span:nth-child(1) {
        letter-spacing: 60px;
    }
}

.aligned-text_right {
    text-align: right;
    span:nth-child(1) {
        letter-spacing: 60px;
    }
    span:nth-child(2) {
        letter-spacing: 0;
    }
}

.cover__description {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    padding: 0 50px 62px 78px;
}

.cover__description-text {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    align-items: center;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
    margin-left: 80px;
    background: transparent;
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

/*--------------------------------------------------*/
